$purple: #7a3fa8

.form-page__title
	margin: 20px 0 0
	font-weight: 400
	color: $purple
	font-size: 25px

.input-group
	padding-top: 20px
	width: 330px

.input-group--small
	width: 120px
	display: inline-block
	vertical-align: top
	margin-right: 20px

.input-group__title
	color: $purple
	font-weight: 400

.form-page__submit
	padding: 12px 50px
	background-color: $purple
	color: #fff
	border-radius: 7px
	display: inline-block
	font-weight: 400
	cursor: pointer
	margin-top: 10px

.secure-payment-desc
	color: #838383
	font-size: 15px
	margin-top: 20px
	margin-bottom: 15px
	position: relative
	padding-left: 30px
	&:before
		content: '\f023'
		position: absolute
		left: 5px
		top: 0
		bottom: 0
		margin: auto 0
		font-family: fontawesome
		display: inline-block
		vertical-align: middle
		width: 20px
		height: 30px
		font-size: 25px
		line-height: 30px
		text-align: center
		z-index: 1
	&:after
		content: '\f00c'
		position: absolute
		font-family: fontawesome
		display: block
		width: 15px
		height: 6px
		color: #7ed321
		left: 13px
		top: 0
		bottom: 0
		margin: auto 0
		z-index: 2

.order-number
	display: inline-block
	margin-top: 20px
	font-size: 17px

.order-text
	font-weight: 400
	font-size: 17px
	margin-bottom: 20px

.strong--half
	font-weight: 500

.order-email
	color: $purple
	font-weight: 500

.order-print
	color: $purple
	font-weight: 700
	font-size: 12px

.billing-title-wrap
	width: 330px
	display: flex
	justify-content: space-between
	align-items: flex-end
	.form-page__title
		display: inline-block

.same-as-shipping
	color: $purple
	font-size: 13px
	font-weight: 500
	text-decoration: underline
	cursor: pointer
	margin-bottom: 5px

.payment-page
	.input-group
		padding-top: 0

.visa-logo
	position: absolute
	display: block
	width: 40px
	height: 40px
	right: 0
	top: 0
	bottom: 0
	margin: auto 0
	&:before
		content: '\f1f0'
		font-family: fontawesome
		display: block
		line-height: 40px
		text-align: center
		color: #00579f
		font-size: 25px

.visa-logo--invisible
	display: none
